<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
    <h2>Регистрация</h2>

    <!-- Форма регистрации -->
    <form method="post" novalidate>
        {% csrf_token %}


        <!-- Поля формы -->
        {{ form.as_p }}

        <!-- Кнопка отправки формы -->
        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>
