/* button-style.css */
#back-button-search {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#back-button-search:hover {
    background-color: #0056b3;
}
